/* 
@media screen and (min-width:480px){
    .container{width:448px;
}} */
@media screen and (min-width:768px){
    .container{width:768px;
    padding: 100px 15px;}
    .about>.container{display: flex;
    gap:30px;}
    .about-list{display:flex;
    gap:30px;
flex-direction: column;}
.about-text.up {
    font-size: 18px;
    line-height: 167%;}
    .about-item{display: block;
        width:330px;
    height:235px;}
    .about-txt-container{width:330px;}
    .about-text{margin-bottom: 77px;}
    .prices{background-image:  url(../img/prices-tab-background.png),linear-gradient(#111319, #111319);
        background-size:auto;
    max-width:768px;}  
    .prices-list-wrapper{width:703px;}
    .prices-text{font-size: 18px;
        line-height: 167%;}
    .info-txt-wrapper{
        width:500px;
    }
    .prices-title{font-size:42px;}
    .info-list{justify-self: flex-end;
    width:450px;}
    .info-item{padding: 20px 44px;
    width:210px;}
        .barber-picture{width:450px;
        height: 346px;}
    .work-list{
        flex-basis: calc((100% - 30px) / 2);
        flex-direction:row;
        flex-wrap:wrap;}
        .work-img:nth-child(2){order:0;}
        .work-img:nth-child(1){order:1;}
        .work-img:nth-child(3){order:2;}
        .work-img:nth-child(4){order:3;}
        .work-img{width: calc((100% - 30px) / 2);}
        .ourworks>.container{
            padding-top: 100px;
           padding-bottom: 106px;}
    .work-img{width:330px;
    height:360px;}
        .booking .container {
            width: 768px;}
                        .booking-right-side {
                            background-image: url(../img/contacts-tab-background.png), linear-gradient(#111319, #111319);
                        padding: 100px 120px 100px 39px;
                    display: flex;
                flex-direction: column;
            flex-wrap: wrap;
        height: 449px;}
        .booking-left-side{padding: 100px 31px;}
        .form-btn{margin-left: 0;}
        .input-wrapper{flex-direction: row;}
        .booking-input:last-child{max-width:330px;}
        .booking-txtarea{width:100%;}
        .contacts-list{margin-bottom: 0;}
        .contacts-txt-wrapper{margin-top: 89px;
        width: 249px;margin-left: auto;}
        .contacts-title{text-align: start;}}
@media screen and (min-width:1200px){.container {
    width: 1200px;
padding:120px 15px;}
.about .container{justify-content: center;}
.about-list{flex-direction: row;}
.about-item{width:270px;
height:445px;}
.about-text{margin-bottom: 42px;}
.about-txt-container{width:470px;}
.about-text.up span{display: inline-block;}
.about-title{font-size:42px;}
.prices{background-image:  url(../img/prices-background.png),linear-gradient(#111319, #111319);
max-width: 1600px;
justify-content: center;}
.prices-list-wrapper{flex-direction:row;
gap:30px;
padding:0;
background: none;
width:inherit;}
.prices-list{padding:30px 20px 22px 30px;
width:570px;}
.prices-list.first{background-image:linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);}
.prices-list.second{background-image:linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);}
    .info .container{display:flex;
        gap:130px;
        width:1030px;
        flex-direction: row-reverse;}
        .info-list{
        width:370px;}
        .info-item{padding: 20px 24px;
        width:170px;}
    .barbers-list{flex-wrap:nowrap;
    gap:30px;}
    .barber-picture{width:370px;
        height: 346px;}
    .ourworks .container{padding-top:120px;
    padding-bottom:120px;}
.work-list{flex-wrap:nowrap;}
.work-img{width:270px;
    height:360px;}
         .booking .container {
             width: 1600px;
             display: flex;
             padding: 0;
         }
                 .booking-left-side{padding: 130px 25px 174px 219px;}
.booking-input:last-child {max-width: 270px}
    .booking-right-side {
width: 785px;
background-image: url(../img/contacts-background.png), linear-gradient(#111319, #111319);
 padding: 130px 0px 111px 105px;
height: auto;}
    .contacts-txt-wrapper{margin: 0}
     .contacts-list {margin-bottom: 70px;}}
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        .barbers > .container {
          width: 480px;
        }
      }